.login {
  width: 100vw;
  height: 100vh;
  background-color: #b941e958;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #ca17ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
  height: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
  border-color: #8429ab;
  box-shadow: #8e44ad;
}

.loginButton {
  height: 50px;
  border-radius: 25px;
  border: double;
  background-color: #8e44ad;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #8617b6;
}

.loginForgot {
  text-align: center;
  color: #000000;
  cursor: pointer;
}

.loginRegisterButton {
  width: 100%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #c414c1;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginRegisterButton:hover {
  background-color: #9220a4;
}

@media screen and (max-width: 768px) {
  .loginWrapper {
    width: 90%;
    flex-direction: column;
  }

  .loginLeft {
    margin-bottom: 20px;
  }

  .loginLogo {
    font-size: 40px;
  }

  .loginDesc {
    font-size: 20px;
  }
}